.button {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: sans-serif;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

.primary {
  background-color: rgb(14, 103, 255);
  color: white;
}

.primary:hover {
  background: rgb(10, 78, 194);
}

.secondary {
  background: none;
  border: 1px solid red;
  color: black;
}

.primary.disabled {
  background-color: rgb(84, 146, 253);
  cursor: not-allowed;
}
