name: Tests

on: push

jobs:
  unit-test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install dependacies
        working-directory: packages/component-library
        run: npm install

      - name: run tests
        working-directory: packages/component-library
        run: npm run test


